/**{margin:0;padding: 0;}*/
body{
  font-family:Trebuchet MS;
}

.head
{
  background-color: #eeb14f;
  width:74%;
 border-left:3px white solid;    
 float:right;
  color:white;


}
.side
{
  background-color: black;
  width:25%;
  height:1320px ;
  float:left;
  color:white;
}
.image{
  height:245px;
  width:245px;
  margin:80px 5px 10px 50px;
  border-radius:100px;
}
/*
.sign{
  height:200px;
  width :50px;
  margin:80px 5px 10px 50px;
  border-radius:100px;
}
*/
.email
{

   width:22px;
   height:22px;

}
.side a{
  text-decoration: none;
  color:white;
}
.main{
  margin-top:88px;
  background-color:#f9fbfe;
  float:right;
  width:928px;
  height:750px;
  display:inline-flex;
  position: absolute;
}
.text p
{
  margin-left:40px;
  margin-top:40px;
}
hr{
  margin:40px 10px 10px 40px;
  width:850px;
  border:none;
 height: 20px;

 height: 50px;
 margin-top: 0;
 border-bottom: 1px solid #1f1209;
 box-shadow: 0 20px 20px -20px #333;
 margin: -35px auto 10px;

}

td,
th {
  border: 1px solid #000;
  padding: 0.4rem;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

#table{
    margin-left:30px;
}
@font-face
{
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}
